<%- include('partials/header') %>
<div class="row mt-3">
  <div class="col">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <a class="btn btn-secondary position-absolute" href="/" role="button"><i class="fa-solid fa-chevron-left"></i></a>
        <h3 class="mb-0 card-title my-1 flex-grow-1 text-center">Todo List</h3>
      </div>
      <div class="card-body">
        <form action="" method="get">
          <input type="hidden" name="sortBy" value="<%= sortBy %>" />
          <input type="hidden" name="sortMode" value="<%= sortMode %>" />
          <div class="row mb-3">
            <div class="col-12 col-md-4 col-lg-3 align-self-center">
              <label for="title">Title</label>
            </div>
            <div class="col-12 col-md-8 col-lg-9 align-self-center">
              <input type="text" class="form-control" name="title" value="<%= title %>" id="title" placeholder="Insert your title" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12 col-md-4 col-lg-3 align-self-center">
              <label for="startdate">Deadline</label>
            </div>
            <div class="col-12 col-md-3 col-lg-4 align-self-center">
              <input type="datetime-local" class="form-control" name="startdateDeadline" value="<%= startdateDeadline %>" id="startdate" />
            </div>
            <div class="col-12 col-md-2 col-lg-1 align-self-center text-center">
              <label for="enddate">s.d.</label>
            </div>
            <div class="col-12 col-md-3 col-lg-4 align-self-center">
              <input type="datetime-local" class="form-control" name="enddateDeadline" value="<%= enddateDeadline %>" id="enddate" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12 col-md-4 col-lg-3 align-self-center">
              <label for="complete">Complete</label>
            </div>
            <div class="col-12 col-md-8 col-lg-9 align-self-center">
              <select class="form-select" name="complete" id="complete">
                <option selected disabled class="d-none">&minus; Select Complete &minus;</option>
                <option value="false" <%=complete==='false' ? 'selected' : '' %>>Not Yet</option>
                <option value="true" <%=complete==='true' ? 'selected' : '' %>>Done</option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-0">
              <% const baseUrl = searchPage.replace(/&?sortBy=[^&]*/g, '').replace(/&?sortMode=[^&]*/g, ''); %> <% if (sortBy === 'deadline' && sortMode === 'asc') { %>
              <a href="?<%= baseUrl %>&sortBy=deadline&sortMode=desc" class="btn btn-success w-auto"><i class="fa-solid fa-sort-up me-2"></i>Sort by deadline</a>
              <% } else if (sortBy === 'deadline' && sortMode === 'desc') { %>
              <a href="?<%= baseUrl %>&sortBy=deadline&sortMode=asc" class="btn btn-success w-auto"><i class="fa-solid fa-sort-down me-2"></i>Sort by deadline</a>
              <% } else { %>
              <a href="?<%= baseUrl %>&sortBy=deadline&sortMode=asc" class="btn btn-success w-auto"><i class="fa-solid fa-sort me-2"></i>Sort by deadline</a>
              <% } %>
            </div>
            <div class="col-12 col-md-8 col-lg-9 d-flex justify-content-start">
              <a class="btn btn-warning me-2 w-auto" href="./todos" role="button"><i class="fa-solid fa-rotate"></i></a>
              <button type="submit" class="btn btn-info w-auto"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </div>
        </form>
      </div>
      <hr class="m-0" />
      <div class="bg-light">
        <form id="addTodoForm" method="post" class="mx-3">
          <div class="input-group my-2">
            <input type="text" class="form-control" id="newTitle" name="title" placeholder="Add todo" />
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-circle-down"></i></button>
          </div>
        </form>
      </div>
      <div class="row m-0">
        <ul class="list-group p-0" id="todoList"></ul>
      </div>
    </div>
  </div>
</div>

<!-- Todo Modal -->
<div class="modal fade" id="todoModal" tabindex="-1" aria-labelledby="todoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-top modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="todoModalLabel">Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="todoForm" method="post">
        <div class="modal-body">
          <input type="hidden" name="id" id="todoId" />
          <div id="editFields">
            <div class="row mb-3">
              <div class="col-12 col-md-4 col-lg-3 align-self-center">
                <label for="todoTitle">Title</label>
              </div>
              <div class="col-12 col-md-8 col-lg-9 align-self-center">
                <input type="text" class="form-control" id="todoTitle" name="title" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 col-md-4 col-lg-3 align-self-center">
                <label for="todoDeadline">Deadline</label>
              </div>
              <div class="col-12 col-md-8 col-lg-9 align-self-center">
                <input type="datetime-local" class="form-control" id="todoDeadline" name="deadline" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 col-md-4 col-lg-3 align-self-center">
                <label for="todoComplete" class="form-check-label">Complete</label>
              </div>
              <div class="col-12 col-md-8 col-lg-9 align-self-center">
                <input type="checkbox" class="form-check-input" name="complete" id="todoComplete" />
                <label for="todoComplete" class="form-check-label">Done</label>
              </div>
            </div>
          </div>
          <div id="deleteMessage" class="d-none">
            <p>Are you sure you want to delete '<span id="todoTitle"></span>'?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="modalSubmitButton">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('partials/vendorScripts') %>
<script>
  $(document).ready(function () {
    let page = 1;
    const limit = 10;
    const userId = "<%= userId %>";
    let isLoading = false;

    function loadTodos() {
      if (isLoading) return;
      isLoading = true;

      $.ajax({
        url: `/users/${userId}/todos`,
        method: "GET",
        data: {
          page: page,
          limit: limit,
          title: "<%= title %>",
          complete: "<%= complete %>",
          startdateDeadline: "<%= startdateDeadline %>",
          enddateDeadline: "<%= enddateDeadline %>",
          sortBy: "<%= sortBy %>",
          sortMode: "<%= sortMode %>",
        },
        success: function (todos) {
          if (todos.length === 0) {
            $(window).off("scroll", onScroll);
            return;
          }
          todos.forEach((todo) => {
            const now = new Date();
            const date = new Date(todo.deadline);
            const day = String(date.getDate()).padStart(2, "0");
            const month = String(date.getMonth() + 1).padStart(2, "0");
            const year = date.getFullYear();
            const hours = String(date.getHours()).padStart(2, "0");
            const minutes = String(date.getMinutes()).padStart(2, "0");
            const formattedDate = `${day}-${month}-${year} ${hours}:${minutes}`;
            const formattedDateYear = `${year}-${month}-${day} ${hours}:${minutes}`;
            const passedDeadline = date < now && !todo.complete;

            if ($(`#todoList li[data-id="${todo._id}"]`).length === 0) {
              const todoItem = `
                <li class="list-group-item border-0 rounded d-flex flex-md-row my-2 justify-content-between align-items-start align-items-md-center position-relative ${
                  todo.complete ? "bg-success-subtle text-success-emphasis" : passedDeadline ? "bg-danger-subtle text-danger-emphasis" : "bg-secondary-subtle text-secondary-emphasis"
                }" data-id="${todo._id}">
                  <p class="fs-6 h-center fw-medium text-start d-flex align-items-center m-0 mb-md-0">${formattedDate} ${todo.title}</p>
                  <div class="d-flex h-center">
                    <button class="btn btn-sm me-2 ${
                      todo.complete ? "text-success-emphasis" : passedDeadline ? "text-danger-emphasis" : "text-secondary-emphasis"
                    }" data-bs-toggle="modal" data-bs-target="#todoModal" data-id="${todo._id}" data-title="${todo.title}" data-deadline="${formattedDateYear}" data-complete="${
                todo.complete
              }" data-action="edit"><i class="fa-solid fa-pen"></i></button>
                    <button class="btn btn-sm ${
                      todo.complete ? "text-success-emphasis" : passedDeadline ? "text-danger-emphasis" : "text-secondary-emphasis"
                    }" data-bs-toggle="modal" data-bs-target="#todoModal" data-id="${todo._id}" data-title="${todo.title}" data-action="delete"><i class="fa-solid fa-trash"></i></button>
                  </div>
                </li>
              `;
              $("#todoList").append(todoItem);
            }
          });
          page++;
          isLoading = false;

          if ($(document).height() <= $(window).height()) {
            loadTodos();
          }
        },
        error: function (xhr, status, error) {
          console.error(error);
          isLoading = false;
        },
      });
    }

    function onScroll() {
      if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
        loadTodos();
      }
    }

    $(window).on("scroll", onScroll);

    $("#todoModal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget);
      var id = button.data("id");
      var action = button.data("action");
      var modal = $(this);

      modal.find("#todoId").val(id);

      if (action === "edit") {
        var title = button.data("title");
        var deadline = button.data("deadline");
        var complete = button.data("complete");

        modal.find("#todoModalLabel").text("Update Todo");
        modal.find("#todoForm").attr("action", "");
        modal.find("#todoTitle").val(title);
        modal.find("#todoDeadline").val(deadline);
        modal.find("#todoComplete").prop("checked", complete);
        modal.find("#editFields").removeClass("d-none");
        modal.find("#deleteMessage").addClass("d-none");
        modal.find("#modalSubmitButton").text("Save changes").removeClass("btn-danger").addClass("btn-primary");
      }
      if (action === "delete") {
        var title = button.data("title");
        modal.find("#todoModalLabel").text("Delete Confirmation");
        modal.find("#todoForm").attr("action", "");
        modal.find("#deleteMessage #todoTitle").text(title);
        modal.find("#editFields").addClass("d-none");
        modal.find("#deleteMessage").removeClass("d-none");
        modal.find("#modalSubmitButton").text("Delete").removeClass("btn-primary").addClass("btn-danger");
      }
    });

    $("#todoForm").on("submit", function (event) {
      event.preventDefault();
      var form = $(this);
      var userId = "<%= userId %>";
      var id = form.find("#todoId").val();
      var action = form.find("#modalSubmitButton").text() === "Delete" ? `/users/${userId}/todos/${id}` : `/users/${userId}/todos/${id}`;
      var method = form.find("#modalSubmitButton").text() === "Delete" ? "DELETE" : "PUT";
      var data = form.serialize();

      $.ajax({
        url: action,
        method: method,
        data: data,
        success: function (response) {
          if (method === "DELETE") {
            $(`#todoList li[data-id="${id}"]`).remove();
          } else {
            const todo = response;
            const now = new Date();
            const date = new Date(todo.deadline);
            const day = String(date.getDate()).padStart(2, "0");
            const month = String(date.getMonth() + 1).padStart(2, "0");
            const year = date.getFullYear();
            const hours = String(date.getHours()).padStart(2, "0");
            const minutes = String(date.getMinutes()).padStart(2, "0");
            const formattedDate = `${day}-${month}-${year} ${hours}:${minutes}`;
            const formattedDateYear = `${year}-${month}-${day} ${hours}:${minutes}`;
            const passedDeadline = date < now && !todo.complete;

            const todoItem = `
              <li class="list-group-item border-0 rounded d-flex flex-md-row my-2 justify-content-between align-items-start align-items-md-center position-relative ${
                todo.complete ? "bg-success-subtle text-success-emphasis" : passedDeadline ? "bg-danger-subtle text-danger-emphasis" : "bg-secondary-subtle text-secondary-emphasis"
              }" data-id="${todo._id}">
                <p class="fs-6 h-center fw-medium text-start d-flex align-items-center m-0 mb-md-0">${formattedDate} ${todo.title}</p>
                <div class="d-flex h-center">
                  <button class="btn btn-sm me-2 ${
                    todo.complete ? "text-success-emphasis" : passedDeadline ? "text-danger-emphasis" : "text-secondary-emphasis"
                  }" data-bs-toggle="modal" data-bs-target="#todoModal" data-id="${todo._id}" data-title="${todo.title}" data-deadline="${formattedDateYear}" data-complete="${
              todo.complete
            }" data-action="edit"><i class="fa-solid fa-pen"></i></button>
                  <button class="btn btn-sm ${
                    todo.complete ? "text-success-emphasis" : passedDeadline ? "text-danger-emphasis" : "text-secondary-emphasis"
                  }" data-bs-toggle="modal" data-bs-target="#todoModal" data-id="${todo._id}" data-title="${todo.title}" data-action="delete"><i class="fa-solid fa-trash"></i></button>
                </div>
              </li>
            `;
            $(`#todoList li[data-id="${id}"]`).replaceWith(todoItem);
          }
          $("#todoModal").modal("hide");
        },
        error: function (xhr, status, error) {
          console.error(error);
        },
      });
    });

    $("#addTodoForm").on("submit", function (event) {
      event.preventDefault();
      var form = $(this);
      var action = "";
      var data = form.serialize();

      $.ajax({
        url: action,
        method: "POST",
        data: data,
        success: function (response) {
          location.reload();
          document.getElementById("newTitle").value = "";
        },
        error: function (xhr, status, error) {
          console.error(error);
        },
      });
    });

    loadTodos();
  });
</script>
<%- include('partials/footer') %>
